aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
click
cssselect
faiss-cpu
feedfinder2
feedparser
filelock
frozenlist
idna
jieba3k
joblib
langdetect~=1.0.9
lxml
multidict
newspaper3k
nltk
numpy~=1.24.2
openai~=0.27.4
pandas~=2.0.0
pgvector~=0.1.6
Pillow
PyPDF2~=3.0.1
python-dateutil
python-docx
pytz
PyYAML
readability-lxml
regex
requests~=2.28.2
requests-file
scikit-learn~=1.2.2
scipy
sgmllib3k
six
soupsieve
SQLAlchemy~=2.0.9
threadpoolctl
tiktoken~=0.3.3
tinysegmenter
tldextract
tqdm
typing_extensions
urllib3
yarl

gunicorn~=20.1.0
Flask~=2.2.3